{% assign blog = blogs[blog_preview] %}
<div id="blog-preview" class="row bglight">
  <div class="col-md-10 col-md-offset-1">
    <h2>Neuester Blogeintrag</h2>
    <ul class="media-list">
      {% assign article = blog.articles.first %}
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="" alt="">
        </a>
        <div class="media-body">
          <h3 class="media-heading">{{ article.title | link_to: article.url }}</h3>
          <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
        </div>
      </li>
    </ul>

    <a href="/blogs/news">mehr...</a>
  </div>
</div>
