<li class="{{ footer_menu }}">
  {% assign linklist = linklists[footer_menu] %}
  {% assign title = linklist.title | split: ';' %}
  <h4>{{ title[1] }}</h4>
  <ul>
    {% for link in linklist.links %}
      {% assign title = link.title | split: ';' %}
      <li>
        <a href="{{ link.url }}">{{ title[0] }}</a>
      </li>
    {% endfor %}
  </ul>
</li>
