{% if paginate.pages > 1 %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="pagination clearfix">
      {% if paginate.previous %}
        <li>{{ paginate.previous.title | link_to: paginate.previous.url }}</li>
      {% endif %}
      {% for part in paginate.parts %}
        {% if part.is_link %}
          <li>{{ part.title | link_to: part.url }}
        {% else %}
          <li class="active">{{ part.title | link_to: "#" }}</li>
        {% endif %}
      {% endfor %}
      {% if paginate.next %}
        <li>{{ paginate.next.title | link_to: paginate.next.url }}</li>
      {% endif %}
    </ul>
  </div>
</div>
{% endif %}
