{% include 'teaser_carousel_slide' with 'american-football-helme' %}
{% include 'teaser_carousel_slide' with 'american-football-handschuhe' %}
{% include 'teaser_carousel_slide' with 'american-football-schulterpolster' %}
{% include 'teaser_carousel_slide' with 'american-football-schuhe' %}
<div id="teaser" class="row">
  <div id="teaser-carousel" class="carousel slide col-md-9" data-interval="4000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {{ teaser_carousel_indicators }}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {{ teaser_carousel_slides }}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#teaser-carousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#teaser-carousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>

  <div id="teaser-products" class="col-md-3 pull-right">
    {{ teaser_carousel_products }}
  </div>
</div>
