{{ 'logo.png' | asset_url | img_tag }}
<p>Vielen Dank für deine Bestellung bei {{ shop_name }}!</p><br />
<p>Diese E-Mail ist eine automatische Eingangsbestätigung deiner Bestellung.</p>
<p>Datum: {{ date | date: "%m/%d/%Y" }}</p><br />
{% if requires_shipping %}
<p><b>Lieferadresse:</b><br />
{{ shipping_address.name }}<br />
{{ shipping_address.street }}<br />
{{ shipping_address.city }}<br />
{{ shipping_address.province }}
{{ shipping_address.zip }}<br />
{{ shipping_address.country }}</p>
{% endif %}<br />
<p><b>Rechnungsadresse:</b><br />
{{ billing_address.name }}<br />
{{ billing_address.street }}<br />
{{ billing_address.city }}<br />
{{ billing_address.province }}
{{ billing_address.zip }}<br />
{{ billing_address.country }}</p>
<br />Bestellte Produkte: <br />
<ul style="list-style-type:none">  {% for line in line_items %} <li> <img src="{{ line.product.featured_image | product_img_url: 'small' }}" /> {{ line.quantity }}x {{ line.title }} für {{ line.price | money }}pro Stück </li> {% endfor %} </ul>
</ul>
{% if discounts %}<br />
<p>Discount: {{ discounts_savings | money_with_currency }}</p> {% endif %}
<p>Zwischensumme: {{ subtotal_price | money_with_currency }}</p>
{% for tax_line in tax_lines %} <p>{{ tax_line.title }} : {{ tax_line.price | money_with_currency }} </p>
{% endfor %} {% if requires_shipping %}
<p>Versand: {{ shipping_price | money_with_currency }}</p>
{% endif %} <p>Endbetrag inkl. MwSt.: {{ total_price | money_with_currency }}</p>
<br />
Wir freuen uns auf deinen nächsten Besuch!<br />

<br />Be a Playmaker!
