{% include 'l_setup' %}
{% layout settings.customer_layout %}

{% include 'breadcrumb' %}

<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    <h1>{% include 'l' with 'customer.activate_account.title' %}</h1>
    <p>{% include 'l' with 'customer.activate_account.subtext' %}</p>

    {% form 'activate_customer_password' %}

      {% include 'form-errors-custom' %}

      <label for="customer_password">{% include 'l' with 'customer.activate_account.password' %}</label>
      <input type="password" value="" name="customer[password]" id="customer_password">

      <label for="customer_password_confirmation">{% include 'l' with 'customer.activate_account.password_confirm' %}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation">

      <div class="text-center">
        <p>
          <input type="submit" class="btn" value="{% include 'l' with 'customer.activate_account.submit' %}">
        </p>
        or <input type="submit" class="text-link" name="decline" id="customer_decline" value="{% include 'l' with 'customer.activate_account.cancel' %}">
      </div>
    {% endform %}

  </div>
</div>
