{% layout settings.customer_layout %}

<div class="grid">

  <div class="grid__item large--one-third push--large--one-third text-center">

    <div class="note form-success" id="resetSuccess" style="display:none;">
      We've sent you an email with a link to update your password.
    </div>

    {% form 'customer_login' %}

      <h1>Login</h1>

      {% include 'form-errors-custom' %}

      <label for="customer_email" class="label--hidden">Email Address</label>
      <input type="email" value="" name="customer[email]" id="customer_email" placeholder="Email" {% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>

      {% if form.password_needed %}

        <label for="customer_password" class="label--hidden">Password</label>
        <input type="password" value="" name="customer[password]" id="customer_password" placeholder="Password" {% if form.errors contains "password" %} class="error"{% endif %}>

        <p>
          <a href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>
        </p>

      {% endif %}

      <p>
        <input type="submit" class="btn" value="Sign In">
      </p>
      or <a href="{{ shop.url }}">Return to Store</a>

    {% endform %}


    {% comment %}
      This page uses JavaScript to show/hide the recover password form
    {% endcomment %}
    <div id="recover_password" style="display: none;">

      <h2>Reset your password</h2>
      <p>We will send you an email to reset your password.</p>

      {% form 'recover_customer_password' %}

        {% include 'form-errors-custom' %}

        {% if form.posted_successfully? %}
          {% assign reset_success = true %}
        {% endif %}

        <label for="recover-email" class="label--hidden">Email</label>
        <input type="email" value="" name="email" id="recover-email" placeholder="Email" autocorrect="off" autocapitalize="off">

        <p>
          <input type="submit" class="btn" value="Submit">
        </p>
        or <a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a>
      {% endform %}

    </div>

    {% if shop.checkout.guest_login %}
      <hr>

      <h2>Continue as a guest</h2>

      {% form 'guest_login' %}
        <input  type="submit" class="btn" value="Let's go">
      {% endform %}
    {% endif %}

  </div>

</div>



<script>
  /*
    Show/hide the recover password form when requested.
  */
  function showRecoverPasswordForm() {
    document.getElementById('recover_password').style.display = 'block';
    document.getElementById('customer_login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover_password').style.display = 'none';
    document.getElementById('customer_login').style.display = 'block';
  }

  // Allow deep linking to the recover password form
  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
    document.getElementById('resetSuccess').style.display = 'block';
  {% endif %}
</script>
