{% include 'l_setup' %}

{% include 'breadcrumb' %}

<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    <div class="note form-success" id="resetSuccess" style="display:none;">
      {% include 'l' with 'customer.recover_password.success' %}
    </div>

    {% form 'customer_login' %}

      <h1>{% include 'l' with 'customer.login.title' %}</h1>

      {% include 'form-errors-custom' %}

      <label for="customer_email" class="hidden-label">{% include 'l' with 'customer.login.email' %}</label>
      <input type="email" value="" name="customer[email]" id="customer_email" placeholder="{% include 'l' with 'customer.login.email' %}" {% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>

      {% if form.password_needed %}

        <label for="customer_password" class="hidden-label">{% include 'l' with 'customer.login.password' %}</label>
        <input type="password" value="" name="customer[password]" id="customer_password" placeholder="{% include 'l' with 'customer.login.password' %}" {% if form.errors contains "password" %} class="error"{% endif %}>

        <p>
          <a href="#" onclick="showRecoverPasswordForm();return false;">{% include 'l' with 'customer.login.forgot_password' %}</a>
        </p>

      {% endif %}

        <p>
          <input type="submit" class="btn" value="{% include 'l' with 'customer.login.sign_in' %}">
        </p>
    {% endform %}

    <div id="recover_password" style="display: none;">

      <h2>{% include 'l' with 'customer.recover_password.title' %}</h2>
      <p>{% include 'l' with 'customer.recover_password.subtext' %}</p>

      {% form 'recover_customer_password' %}

        {% include 'form-errors-custom' %}

        {% if form.posted_successfully? %}
          {% assign reset_success = true %}
        {% endif %}

        <label for="recover-email" class="hidden-label">{% include 'l' with 'customer.recover_password.email' %}</label>
        <input type="email" value="" name="email" id="recover-email" placeholder="{% include 'l' with 'customer.recover_password.email' %}" autocorrect="off" autocapitalize="off">

        <p>
          <input type="submit" class="btn" value="{% include 'l' with 'customer.recover_password.submit' %}">
        </p>
      {% endform %}

    </div>
  </div>

</div>



<script>
  /*
    Show/hide the recover password form when requested.
  */
  function showRecoverPasswordForm() {
    document.getElementById('recover_password').style.display = 'block';
    document.getElementById('customer_login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover_password').style.display = 'none';
    document.getElementById('customer_login').style.display = 'block';
  }

  // Allow deep linking to the recover password form
  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
    document.getElementById('resetSuccess').style.display = 'block';
  {% endif %}
</script>
