{% include 'l_setup' %}
{% layout settings.customer_layout %}

{% include 'breadcrumb' %}

<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    <h1>{% include 'l' with 'customer.register.title' %}</h1>

    {% form 'create_customer' %}

      {% include 'form-errors-custom' %}

      <label for="first_name" class="hidden-label">{% include 'l' with 'customer.register.first_name' %}</label>
      <input type="text" value="" name="customer[first_name]" id="first_name" placeholder="{% include 'l' with 'customer.register.first_name' %}" {% if form.errors contains "first_name" %} class="error"{% endif %} autocapitalize="words" autofocus>

      <label for="last_name" class="hidden-label">{% include 'l' with 'customer.register.last_name' %}</label>
      <input type="text" value="" name="customer[last_name]" id="last_name" placeholder="{% include 'l' with 'customer.register.last_name' %}" {% if form.errors contains "last_name" %} class="error"{% endif %} autocapitalize="words">

      <label for="email" class="hidden-label">{% include 'l' with 'customer.register.email' %}</label>
      <input type="email" value="" name="customer[email]" id="email" placeholder="{% include 'l' with 'customer.register.email' %}" {% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off">

      <label for="password" class="hidden-label">{% include 'l' with 'customer.register.password' %}</label>
      <input type="password" value="" name="customer[password]" id="create_password" placeholder="{% include 'l' with 'customer.register.password' %}" {% if form.errors contains "password" %} class="error"{% endif %}>
      <p>
        <input type="submit" value="{% include 'l' with 'customer.register.submit' %}" class="btn">
      </p>

    {% endform %}

  </div>

</div>
