{% layout settings.customer_layout %}

<div class="grid">

  <div class="grid__item large--one-third push--large--one-third text-center">

    <h1>Create Account</h1>

    {% form 'create_customer' %}

      {% include 'form-errors-custom' %}

      <label for="first_name" class="label--hidden">First Name</label>
      <input type="text" value="" name="customer[first_name]" id="first_name" placeholder="First Name" {% if form.errors contains "first_name" %} class="error"{% endif %} autocapitalize="words" autofocus>

      <label for="last_name" class="label--hidden">Last Name</label>
      <input type="text" value="" name="customer[last_name]" id="last_name" placeholder="Last Name" {% if form.errors contains "last_name" %} class="error"{% endif %} autocapitalize="words">

      <label for="email" class="label--hidden">Email Address</label>
      <input type="email" value="" name="customer[email]" id="email" placeholder="Email" {% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off">

      <label for="password" class="label--hidden">Password</label>
      <input type="password" value="" name="customer[password]" id="create_password" placeholder="Password" {% if form.errors contains "password" %} class="error"{% endif %}>

      <p>
        <input type="submit" value="Create" class="btn">
      </p>
      or <a href="{{ shop.url }}">Return to Store</a>

    {% endform %}

  </div>

</div>
