{% include 'l_setup' %}
{% layout settings.customer_layout %}

{% include 'breadcrumb' %}

<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    {% form 'reset_customer_password' %}

      <h1>{% include 'l' with 'customer.reset_password.title' %}</h1>

      <p>{% include 'lt' with 'customer.reset_password.subtext' %}{{ lk | t: email: email }}</p>

      {% include 'form-errors-custom' %}

      <label for="reset_password">{% include 'l' with 'customer.reset_password.password' %}</label>
      <input type="password" value="" name="customer[password]" id="reset_password" {% if form.errors contains "password" %} class="error"{% endif %}>

      <label for="password_confirmation">{% include 'l' with 'customer.reset_password.password_confirm' %}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="password_confirmation" {% if form.errors contains "password_confirmation" %} class="error"{% endif %}>

      <div class="text-center">
        <input type="submit" class="btn" value="{% include 'l' with 'customer.reset_password.submit' %}">
      </div>

    {% endform %}

  </div>
</div>
