{% layout settings.customer_layout %}

<div class="grid">
  <div class="grid__item large--one-third push--large--one-third">

    {% form 'reset_customer_password' %}

      <h1>Reset account password</h1>

      <p>Enter a new password for {{ email }}</p>

      {% include 'form-errors-custom' %}

      <label for="reset_password">Password</label>
      <input type="password" value="" name="customer[password]" id="reset_password" {% if form.errors contains "password" %} class="error"{% endif %}>

      <label for="password_confirmation">Password Confirmation</label>
      <input type="password" value="" name="customer[password_confirmation]" id="password_confirmation" {% if form.errors contains "password_confirmation" %} class="error"{% endif %}>

      <div class="text-center">
        <input type="submit" class="btn" value="Reset Password">
      </div>

    {% endform %}

  </div>
</div>
