{% paginate blog.articles by 9 %}

{% include 'breadcrumb' %}

<div class="grid grid-border">

  <div class="grid__item large--four-fifths grid-border--right">
    {% if current_tags %}
      <h1>{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
    {% else %}
      <h1>{{ blog.title }}</h1>
    {% endif %}

    <div class="grid-uniform">
      {% for article in blog.articles %}
        {% assign grid_item_width = 'large--one-third medium--one-third small--one-half' %}
        {% include 'article-grid-item' %}
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
    <hr>
    <div class="text-center">
      {% include 'pagination-custom' %}
    </div>
    {% endif %}

  </div>

  <aside class="sidebar grid__item large--one-fifth">
    {% include 'blog-sidebar' %}
  </aside>
</div>

{% endpaginate %}
