{% include 'l_setup' %}
{% paginate collection.products by 20 %}

{% include 'breadcrumb' %}

<div class="grid grid-border collection-list">

{% comment %}
  <aside class="sidebar grid__item large--one-fifth collection-filters" id="collectionFilters">
    {% include 'collection-sidebar' %}
  </aside>
{% endcomment %}

  <div class="grid__item grid-border--left">

    <header class="section-header">
      <h1 class="section-header__left">{{ collection.title }}</h1>
      <div class="section-header__right small--hide">
        {% include 'collection-views' %}
      </div>
    </header>
    <hr class="hr--offset-left">

    <div class="grid-uniform">

      {% for product in collection.products %}
        {% if product.tags contains 'expired' %}
        {% else %}
          {% include 'product-list-item' %}
        {% endif %}
      {% else %}

        <div class="grid__item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>

      {% endfor %}

    </div>

  </div>

  {% if paginate.pages > 1 %}
  <div class="grid__item pagination-border-top">
    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-fifth">
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% endpaginate %}
