
{% include 'teaser_carousel'%}

{% assign collection = collections['american-football'] %}
{% assign product_types = shop.types | join: ', '  %}
{% assign vendors = shop.vendors | join: ', '  %}
{% assign cpage_title = "American Football " | append: product_types %}
{% assign tags = collection.all_tags | join: ', '  %}
{% assign cpage_description = cpage_title | append: " von " | append: vendors | append: " für die Positionen: " | append: tags %}
{% assign cpage_title = "Playmakers - Dein American Football Shop in Deutschland." %}
{% assign cpage_title_claim = '' %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {{ collection.description }}

    <h2>Welches Produkt interessiert dich?</h2>
    <form action="/search" method="get" class="search-form" role="search">
      <input type="hidden" name="location" value="index" />
      <input type="hidden" name="type" value="product" />
      <div class="form-group">
        <label class="sr-only" for="searchterms">Suche</label>
        <input type="text" class="form-control" id="searchterms" name="q" value="{{ search.terms | escape }}" placeholder="Playmakers durchsuchen nach..." />
      </div>
      <button type="submit" class="btn btn-default">Suche starten</button>
    </form>

    <hr class="dots">
  </div>
</div>

{% include 'related_products' with collection %}

{% include 'blog_preview' with 'news' %}
