
{% include 'teaser_carousel'%}

{% assign collection = collections['frontpage'] %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>{{ collection.title }}</h1>
    <p> {{ collection.description }}</p>

    <hr class="dots">
  </div>
</div>

{% include 'new_products' with collection %}

{% include 'blog_preview' with 'news' %}
