
{% include 'teaser_carousel'%}

{% assign collection = collections['american-football'] %}
{% assign product_types = shop.types | join: ', '  %}
{% assign vendors = shop.vendors | join: ', '  %}
{% assign cpage_title = "American Football " | append: product_types %}
{% assign tags = collection.all_tags | join: ', '  %}
{% assign cpage_description = cpage_title | append: " von " | append: vendors | append: " für die Positionen: " | append: tags %}
{% assign cpage_title = "Playmakers - Onlineshop für American Football Ausrüstung" %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {{ collection.description }}

    <hr class="dots">
  </div>
</div>

{% include 'related_products' with collection %}
