{% assign product_types = collection.all_types | join: ', '  %}
{% assign vendors = collection.all_vendors | join: ', '  %}
{% assign cpage_title = "American Football " | append: product_types %}
{% assign tags = collection.all_tags | join: ', '  %}
{% assign cpage_description = cpage_title | append: " von " | append: vendors | append: " für die Positionen: " | append: tags %}
<div class="content-offset row">
  <div class="col-md-10 col-md-offset-1 ">
    <h1>Suche</h1>
    <h2>Ergebnisse für: "{{ search.terms | escape }}"</h2>

    {% if search.results.size > 0 %}
      <ul class="products">
        {% for item in search.results %}
          {% include 'product' with item %}
        {% endfor %}
      </ul>
    {% else %}
      Es wurden keine Produkte gefunden
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <hr class="dots">
  </div>
</div>
