.meta {
  margin-bottom: 20px;

  time {
    .main-font;
    color: @default;
  }
}

.media img {
  margin: 20px;
  border: 1px solid #333;
  box-shadow: 0px 0px 5px #000;
}

.socials {
  .pull-right;
  .list-unstyled;

  li {
    float: left;
    margin-right: 10px;
  }
}
