.meta {
  margin-bottom: 20px;

  time {
    .main-font;
    color: @default;
  }
}

.media img {
  margin: 3px 10px 5px 0;
  border: 1px solid #333;
  box-shadow: 0px 0px 5px #000;
}

.socials {
  .pull-right;
  .list-unstyled;

  li {
    float: left;
    margin-right: 10px;
  }
}

.comments {
  .list-unstyled;
}

.form;

.more {
  font-size: 13px;
  &:before {
    content: "» ";
  }
}

.sidebar {
  .hidden-xs;
  .hidden-sm;

  .fb-like-box {
    background-color: #fff;
    height: 300px;
    width: 250px;
    border: 1px solid #363636;
  }

  a {
    font-size: 12px;
  }

  .newsletter {

    label {
      font-size: 13px;
      width: 250px;
      font-weight: 600;
    }

    input {
      width: 250px;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }


  .articles {
    .hidden;
  }

  .fb-like-box, .newsletter, .articles, .tags {
    margin-bottom: 50px;
  }

  ul {
    .list-unstyled;
    li {
      margin-bottom: 20px;
      &:before {
        content: "» ";
      }
    }
  }
}


.article {
  .media img {
    .img-responsive;
    margin: 0px;
  }

  .articles {
    .show;
    visibility: visible !important;
  }
}
