.table {
  padding: 0;

  td {
    vertical-align: middle;

    img {
      background-color: @image_bg;
      border: 2px solid #000;
    }
  }
}

button {
  border: 1px solid;
  font-size: 16pt;
  background-color: #fff;
}
