@import 'main';

// http://docs.shopify.com/manual/configuration/store-customization/checkout-css

#header {
  >h1 span.title, span.subtitle {
    .text-hide;
  }
}

#main {
  padding-top:10px;
  width: 792px;
}

#overview {
  .bglight;
  border: 0;

  h2 {
    font-size: 18pt;
    color: #F6F6F6;
  }

  .hint {
    font-size: 11pt;
    color: #000;
  }
}



#products {
  border: 0;
}

#wallet, .wallet-highlight {
  border: 0;
  background: none;
}

#spinner {
  .hidden;
}

#cost {
  font-family: "Titillium Web";
  font-size: 40pt;
  font-weight: 600;
  color: #000;
  text-shadow: none;
}

#steps {
  font-family: "Titillium Web";
}

#thumbs {
  h3.plisthead {
    color: @default;
    font-size: 15pt;
  }

  .plist-variant-title, .plist-line-price {
    color: #444;
  }

  div {
    border: 0;
  }
}

#footer {
  background: transparent;
}
