.header {
  padding: 0px;
  height: 370px;

  img {
    position: absolute;
    clip: rect(0px, 880px, 350px, 0px);
  }

  h1 {
    .hidden;
    margin-top: 360px;
    margin-left: 100px;
  }
}

.description {
  .hidden-sm;
  .hidden-xs;
  padding: 5px 15px;

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  ul {
    .list-unstyled;

    font-size: 14px;
    line-height: 20px;
  }
}

ul.products {
  .list-unstyled;
  .list-inline;
  width: 100%;

  li {
    width: 30%;
    padding: 15px;
    &:first-child {
      padding-left: 15px;
    }

    .noborder { .hide; }
    .border { .show; }
  }
}

// .extra(@type){
//   .header { background-color: @@type; }
// }

// .helme  { .extra('helme'); }
// .pads   { .extra('pads'); }
// .hands  { .extra('hands'); }
// .schuhe { .extra('schuhe'); }
