.row >div {
  padding: 0px;
}

.row .description {
  padding: 5px 15px;

  ul {
    .ul-reset;
  }
  font-size: 14px;
  line-height: 20px;
}

.products {
  ul {
    .ul-reset;

    li {
      float: left;
      margin: 10px;
      width: 30%;

      .more-body {
        width: 100%;

        h5 {
          color: #fff;
        }

        a {
          float: left;
          color: #000;

          &.price {
            float: right;
            color: #fff;
          }
        }
      }
    }
  }
}
