background: url('bg_footer.jpg');
@media (min-width: @screen-md-min) {
  background: url('footer_deco2.png') top right no-repeat, url('bg_footer.jpg');
}
background-position: right 10px, left top;
height: 220px;
padding-top: 5px;
margin-top: 50px;
font-size: 10pt;
line-height: 15pt;

ul { .list-unstyled; }

h4 {
  color: #000;
}

#footer-list >li {
  background: url('footer_deco.png') no-repeat;
  background-position: left 20px;
  float:left;
  padding-left: 20px;
  margin-left: 60px;

  &:first-child {
    margin-left: 0px;
    .hidden-xxs;
  }

  &.footer {
    .hidden-xxs;
  }

  &.footer-payment-methods {
    .hidden-xs;
    .pull-right;
    margin-right: 0px;
    @media (min-width: @screen-md-min) {
      margin-right: 40px;
    }
    background: transparent;
  }

  .footer a:hover {
    text-decoration: none;
    color: #FFF;
  }
}
