background: url('bg_footer.png'), url('bg_footer.jpg');
background-position: left top, left 26px;
background-repeat: repeat-x, no-repeat;
@media (min-width: @screen-md-min) {
  background: url('footer_deco2.png'), url('bg_footer.png'), url('bg_footer.jpg');
  background-position: right 36px, left top, left 26px;
  background-repeat: no-repeat, repeat-x, no-repeat;
}
height: 246px;
padding-top: 30px;
font-size: 10pt;
line-height: 15pt;

ul { .list-unstyled; }

h4 {
  color: @variant2;
  margin-bottom: 5px;
}

#footer-list >li {
  background: url('footer_deco.png') no-repeat;
  background-position: left 20px;
  float:left;
  padding-left: 25px;
  margin-left: 40px;
  a {
    font-weight: bold;
    color: #000;
  }

  &:first-child {
    margin-left: 0px;
    .hidden-xxs;
  }

  &.footer {
    .hidden-xxs;
  }

  &.socials {
    .hidden-xs;
    li {
      margin-bottom: 10px;
    }
  }

  &.payment-methods {
    .hidden-xs;
    .hidden-sm;
    .hidden-md;
    .pull-right;
    margin-right: 0px;
    padding-left: 0px;
    @media (min-width: @screen-md-min) {
      margin-right: 40px;
    }
    background: transparent;
  }

  .footer a:hover {
    text-decoration: none;
    color: #FFF;
  }
}
