background: url('footer_deco2.png') top right no-repeat, url('bg_footer.jpg');
background-position: right 10px, left top;
height: 220px;
padding-top: 5px;
margin-top: 80px;
font-size: 10pt;
line-height: 15pt;

ul { .ul-reset; }

#footer-list >li {
  background: url('footer_deco.png') no-repeat;
  background-position: left 20px;
  float:left;
  padding-left: 30px;
  margin-right: 80px;

  .footer a:hover {
    text-decoration: none;
    color: #FFF;
  }
}
