/*------------- Bootstrap ------------------ */

// Core variables and mixins
@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";

// Reset
@import "bootstrap/less/normalize.less";
@import "bootstrap/less/print.less";

// Core CSS
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/type.less";
@import "bootstrap/less/code.less";
@import "bootstrap/less/grid.less";
@import "bootstrap/less/tables.less";
@import "bootstrap/less/forms.less";
@import "bootstrap/less/buttons.less";

// Components
@import "bootstrap/less/component-animations.less";
// @import "bootstrap/less/glyphicons.less";
@import "bootstrap/less/dropdowns.less";
@import "bootstrap/less/button-groups.less";
@import "bootstrap/less/input-groups.less";
@import "bootstrap/less/navs.less";
@import "bootstrap/less/navbar.less";
// @import "bootstrap/less/breadcrumbs.less";
@import "bootstrap/less/pagination.less";
@import "bootstrap/less/pager.less";
@import "bootstrap/less/labels.less";
@import "bootstrap/less/badges.less";
@import "bootstrap/less/jumbotron.less";
@import "bootstrap/less/thumbnails.less";
@import "bootstrap/less/alerts.less";
// @import "bootstrap/less/progress-bars.less";
@import "bootstrap/less/media.less";
@import "bootstrap/less/list-group.less";
@import "bootstrap/less/panels.less";
// @import "bootstrap/less/wells.less";
@import "bootstrap/less/close.less";

// Components w/ JavaScript
@import "bootstrap/less/modals.less";
// @import "bootstrap/less/tooltip.less";
@import "bootstrap/less/popovers.less";
@import "bootstrap/less/carousel.less";

// Utility classes
@import "bootstrap/less/utilities.less";
@import "bootstrap/less/responsive-utilities.less";

// @import "fancybox/jquery.fancybox-buttons.less";
@import "fancybox/jquery.fancybox-thumbs.less";

@import "fancybox/jquery.fancybox.less";

@import "fonts.less";

/*------------- CFGS ------------------ */

@helme: #DF0000;
@pads: #FFC800;
@hands: #00A237;
@schuhe: #3F6AD0;
@default: #000;
@a: #FFF;
@a_hover: #AAA;
@image_bg: #FFF;

/*------------- MIXINS ------------------ */

.main_font {
  font-family: "Titillium Web";
  font-weight: 600;
  font-size: 12pt;
}

.header_font {
  font-family: 'playmaker_3regular';
  text-transform: uppercase;
  font-weight: bold;
}

.hidden { display: none; }

.white  { background-color: white; }
.green  { background-color: green; }
.red    { background-color: red; }
.blue   { background-color: blue; }
.yellow { background-color: yellow; }
.gray   { background-color: gray; }

.bglight {
  background-color: #909090;
  background: url('bg_blog.jpg');
}

.bglight-screws {
  .bglight;
  @media (min-width: @screen-md-min) {
    background: url('bg_blog_border.png') top left repeat-y, url('bg_blog_border.png') top right repeat-y, url('bg_blog.jpg');
  }
}

.product-border {
  box-shadow: -1px 2px 4px #000000;
  background-repeat: no-repeat;
  background-size: auto 75%;
  background-position: center center;
  background-clip: content-box;
  background-color: @image_bg;

  &:hover {
    background-size: auto 80% ;
  }
}

.content-offset >div {
  padding-top: 40px;
}

.ul-reset {
  padding: 0;
  list-style: none;
  margin-left: 0;
}

.menu-button(@pos) {
  .button {
    background-position: 0px -(@pos * 90px);
    &:hover {
      background-position: 80px -(@pos * 90px);
    }
  }
  &.active .button {
    background-position: 80px -(@pos * 90px);
    background-color: transparent;
  }

  &.margin-left {
    margin-left: 50px;
  }
}

/*-------------- OVERRIDES ----------------- */
body {
  background-color: #363636;
  background-image: url('background.jpg');
  color: @default;
  .main_font;
  line-height: 15pt;
}

a {
  color: @a;
  &:hover {
    color: @a_hover;
  }
}

h1 {
  .header_font;
  color: #D9DADA;
  font-size: 35pt;
}

h2 {
  .header_font;
  color: #F6F6F6;
  font-size: 18pt;
}

h3 {
  .header_font;
  color: #F6F6F6;
  font-size: 16pt;
}

h4 {
  .header_font;
  color: #F6F6F6;
  font-size: 14pt;
}

hr {
 background-image: url('hr.png');
 background-repeat: repeat-x;
 height: 20px;
 border: 0;
}

/*------------------------------- */

#main {
  background-color: #7c7c7c;
  background-image: url('bg_content.jpg');
  box-shadow: 0px 0px 10px #000000;
}

.header-menu.nav-pills a {
  font-size: 12pt;
  color: #fff;
  text-transform: uppercase;
  margin: 0px;
  margin-top: 2px;
  padding: 0px 10px;

  &:hover {
    background-color: transparent;
    color: @a_hover;
  }
}

#menu {
  background-image: url('bg_menu.png');
  background-repeat: repeat-x;
  background-position: 0 30px;
  // background-color: #123455;
  height: 160px;
  width: 100%;
  margin-top: 50px;
  position: absolute;
  z-index: 100;

  &.sticky {
    position:fixed;
    margin-top: 0px;
    top:0;
  }

  div {
    padding: 0;
  }

  #main-nav.nav-pills {
    padding: 0;

    a {
      color: #ffffff;
      font-size: 13pt;
      text-transform: uppercase;
      margin: 2px 0px;
      padding: 1px 10px;

      &:hover {
        background: transparent;
      }

      &.button {
        margin-top: 30px;
        padding: 65px 0 0 0;
        text-align: center;
        background-image: url('button_sprite.png');
        width: 80px;
        height: 90px;
      }
    }

    .nav-logo    { margin-right: 20px; }
    .nav-about   { .menu-button(0); }
    .nav-helmets { .menu-button(1); }
    .nav-hands   { .menu-button(2); }
    .nav-pads    { .menu-button(3); }
    .nav-boots   { .menu-button(4); }
    .nav-kits    { .menu-button(5); .hidden-xs;}
    .nav-blog    { .menu-button(6); .hidden-xs;}
    .nav-contact { .menu-button(7); .hidden-sm; .hidden-xs;}
  }
}

#header {
 background-image: url('bg_header.jpg');
 height: 170px;
}

#teaser {
  #teaser-carousel {
    padding: 0;

    .carousel-indicators {
      bottom: -5px;
    }
  }

  #teaser-products {
    .hidden-sm;
    .hidden-xs;
    padding: 0;
    padding-left: 30px;

    ul {
      display: none;

      &.active {
        display: block;
      }

      li {
        margin-bottom: 15px;
      }
    }
  }
}

.cart {
  .table {
    padding: 0;

    td {
      vertical-align: middle;
    }
  }
}

#new-products {
  background: url('bg_more_left.png') top left no-repeat, url('bg_more.png') top left repeat-x;
  background-position: 0 60px;
  overflow-x: visible;
  height: 300px;
  margin-left: -30px;

  > div {
    padding-left: 30px;
  }

  .right div {
    .hidden-sm;
    .hidden-xs;
    background: url('bg_more_right.png') right 60px no-repeat, url('bg_more.png') left 60px repeat-x;
    margin-left: 30px;
    height: 300px;
    width: 100%;
  }

  .list {
    width: 100%;
    li {
      float:left;
      margin-top: 10px;
      width: 20%;
      padding-left: 10px;
      padding-right: 10px;
    }

    .head {
      border: 1px solid #000;
      box-shadow: inset 0px 0px 4px #000000;
      padding: 2px;
      background: #fff;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      overflow: hidden;
      img {
        height: 125px;
      }
    }

    .body {
      width: 100%;

      h5 {
        color: #fff;
        font-size: 11pt;
      }

      a {
        float: left;
        color: #000;

        &.price {
          float: right;
          color: #fff;
        }
      }
    }
  }
}

.blog {
  .date {
    .main_font;
    color: @default;

  }
}

.collection { @import 'collection'; }
.product { @import 'product'; }
.page { @import 'page'; }
footer >div { @import 'footer'; }

#blog-preview {
  .bglight-screws;
  padding-bottom: 40px;
}


