&.about {
  .list {
    .bglight-screws;
    ul { .ul-reset; }
    li {
      text-align: justify;
      float: left;
      width: 25%;
      padding: 15px 0 15px 30px;

      img {
        .center-block;
      }

      &:first-child {
        padding-left: 0px;
      }
    }
  }
}
