&.about {
  .list {
    .bglight-screws;
    ul { .ul-reset; }
    li {
      text-align: justify;
      float: left;
      width: 25%;
      padding: 15px 0 15px 30px;

      img {
        .center-block;
      }

      &:first-child {
        padding-left: 0px;
      }
    }
  }
}

&.contact {
  input, textarea {
    .form-control;
    width: 550px;
  }

  textarea {
    height: inherit;
  }

  label {
    width: 150px;
  }

  .successForm {
    background: #BDE0A8;
    color: green;
  }

  .errorForm {
    background: #EEBDBD;
    color: red;
  }

  .feedback {
    padding: 0.5em 0.7em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;

    p {
      padding: 5px;
    }
  }
}
