&.about {
  .list {
    .bglight-screws;
    ul { .list-unstyled; }
    li {
      min-width: 230px;
      height: 430px;
      text-align: left;
      float: left;
      max-width: 25%;
      padding: 15px 30px 15px 0;
      .hyphenate;

      img {
        .center-block;
      }

      &:last-child {
        padding-right: 0px;
      }
    }
  }

  .pascal2 {
    float: right;
    margin-left: 20px;
    border: 1px solid #333;
    box-shadow: 0px 0px 5px #000;
  }
}

&.contact {
  .form;
}

&.preorder {
  .form;
}

&.pate {
  body.plain #main & { padding: 0px; }

  .bgtop {
    background-image: url('bg_pate.jpg');
    background-repeat: repeat-x;
    background-position: 0px 45px;

    > div {
      padding-top: 20px;
    }
  }

  h1 {
    &.helme { color: @helme; }
    &.schulterpolster { color: @schulterpolster; }
    &.handschuhe { color: @handschuhe; }
    &.schuhe { color: @schuhe; }
    text-shadow: 0px 0px 4px #000000;
    font-size: 30pt;
  }

  h2 {
    font-size: 13pt;
    margin-top: 0px;
    color: #AAA;
  }

  h3 {
    color: #AAA;
  }

  h4 {
    .main-font;
    color: #F6F6F6;
    font-size: 12pt;
  }

  .media { padding-left: 50px; }

  small {
    margin-right: 15px;
    &:before {
      .main-font;
      font-weight: 0;
      font-size: 24pt;
      content: "#";
    }
  }

  dt {
    color: #AAA;
    font-weight: bold;
    float: left;
    clear: left;
    width: 50px;
    &:after {
      content: ":";
    }
  }

  dd {
    color: @variant2;
  }

  .facts {
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.59);
    background-color: #363636;
    margin: 5px;
    width: 300px;
    padding: 5px;
    dt {
      font-size: 10pt;
      width: 80px;
    }
    dd {
      font-size: 10pt;
    }
  }

  .list {
    margin-top: 10px;
  }
}
